streamlit 
python-dotenv 
langchain-community 
pypdf 
langchain-text-splitters 
langchain-huggingface 
sentence-transformers 
langchain-chroma 
langchain-google-genai 
langchain-classic 
langchain-core